<mat-card class="balance-card">
  <div class="header">
    <div class="left">
      <span>Saldo</span>
      <span (click)="toggleBalanceVisibility()">
        <mat-icon fontSet="material-symbols-outlined">
          {{ showBalance ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </span>
    </div>
    <span class="date">{{ formattedCurrentDate }}</span>
  </div>

  <div class="value">
    <ng-container *ngIf="balance$ | async as balance">
      {{
        showBalance
          ? ('R$ ' + (balance | number: '1.2-2'))
          : '••••••'
      }}
    </ng-container>
  </div>
</mat-card>
