<div class="extract-container">
  <div class="header" style="position: relative;">
    <h3 class="title">Extrato</h3>
    <button mat-icon-button class="filter-button" matTooltip="Filtrar" (click)="openFilterDialog()">
      <mat-icon fontSet="material-symbols-outlined">filter_alt</mat-icon>
    </button>

    <div class="filter-dialog-below" *ngIf="showFilter">
      <mat-form-field appearance="fill">
        <mat-label>Ordenar por</mat-label>
        <mat-select [(ngModel)]="sort">
          <mat-option value="date">Data</mat-option>
          <mat-option value="amount">Valor</mat-option>
          <mat-option value="description">Descrição</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Ordem</mat-label>
        <mat-select [(ngModel)]="order">
          <mat-option value="asc">Ascendente</mat-option>
          <mat-option value="desc">Descendente</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="actions">
        <button mat-stroked-button color="warn" (click)="showFilter = false">Cancelar</button>
        <button mat-raised-button color="primary" (click)="applyFilter()">Aplicar</button>
      </div>
    </div>
  </div>

  <div *ngFor="let group of groupedTransactions">
    <h4>{{ group.month }}</h4>

    <div *ngFor="let t of group.transactions" class="transaction">
      <mat-icon fontSet="material-symbols-outlined" class="icon" [ngClass]="{ 
          income: t.type === 'income', 
          expense: t.type === 'expense' 
        }">
        {{ t.type === "income" ? "call_received" : "call_made" }}
      </mat-icon>

      <div class="info">
        <span class="transaction-type">{{ t.type === "income" ? "Depósito" : "Transferência" }}</span>
        <span class="transaction-description" *ngIf="t.description">{{ t.description }}</span>
        <span class="transaction-category" *ngIf="t.category">{{ t.category }}</span>
        <small class="transaction-date">{{ t.date | date : "dd/MM/yyyy" : undefined : "pt-BR" }}</small>
      </div>

      <div class="amount" [ngClass]="{ 
          income: t.type === 'income', 
          expense: t.type === 'expense'
        }">
        R$ {{ getPositiveAmount(t.amount) | number : "1.2-2" }}
      </div>

      <div class="actions">
        <button (click)="downloadAttachment(t)">
          <mat-icon class="icon-settings" matTooltip="Download do anexo"
            fontSet="material-symbols-outlined">download</mat-icon>
        </button>

        <button (click)="openEditModal(t)">
          <mat-icon class="icon-settings" matTooltip="Editar" fontSet="material-symbols-outlined">edit</mat-icon>
        </button>

        <button color="warn" (click)="deleteTransaction(t.id!, t.description!)">
          <mat-icon class="icon-settings" matTooltip="Excluir" fontSet="material-symbols-outlined">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-paginator [length]="totalItems" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]="0"
    [hidePageSize]="true" aria-label="Select page" (page)="handlePageEvent($event)">
  </mat-paginator>
</div>