$primary:     #009688;
$primary-100: #B2DFDB;
$primary-200: #80CBC4;
$primary-300: #009688;
$primary-400: #00897B;
$primary-500: #00796B;
$primary-600: #00695C;

$secondary:     #495057;
$secondary-0:   #FFFFFF;
$secondary-100: #E9ECEF;
$secondary-200: #CED4DA;
$secondary-300: #868E96;
$secondary-400: #495057;
$secondary-500: #343A40;
$secondary-600: #17191B;

$orange:     #FF9800;
$orange-100: #FFE5B4;
$orange-200: #FFB74D;
$orange-300: #FF9800;
$orange-400: #FB8C00;
$orange-500: #F57C00;
$orange-600: #EB6A1C;

$purple:     #5C4589;
$purple-100: #F0EAF6;
$purple-200: #CBBEDC;
$purple-300: #A895C5;
$purple-400: #846EAE;
$purple-500: #5C4589;
$purple-600: #49376C;
$purple-700: #382B54;

$blue:     #2196F3;
$blue-100: #BBDEFB;
$blue-200: #90CAF9;
$blue-300: #2196F3;
$blue-400: #1E88E5;
$blue-500: #1976D2;
$blue-600: #1565C0;

$green:     #47A138;
$green-100: #C8E6C9;
$green-200: #A5D6A7;
$green-300: #4CAF50;
$green-400: #43A047;
$green-500: #47A138;
$green-600: #2E7D32;

$gray:     #868E96;
$gray-0:   #FFFFFF;
$gray-100: #E9ECEF;
$gray-200: #CED4DA;
$gray-300: #868E96;
$gray-400: #495057;
$gray-500: #343A40;
$gray-600: #17191B;
$gray-700: #080909;

$indigo:     #3F51B5;
$indigo-100: #E8EAF6;
$indigo-200: #C5CAE9;
$indigo-300: #3F51B5;
$indigo-400: #3949AB;
$indigo-500: #303F9F;
$indigo-600: #283593;

$magenta:     #F62E61;
$magenta-100: #F8BBD0;
$magenta-200: #F48FB1;
$magenta-300: #F62E61;
$magenta-400: #D81B60;
$magenta-500: #C2185B;
$magenta-600: #AD1457;

$red:     #DD2153;
$red-100: #FDCED6;
$red-200: #F8748D;
$red-300: #DD2153;
$red-400: #BB1546;
$red-500: #942A1A;
$red-600: #61230D;

$yellow:     #FFEB3B;
$yellow-100: #FFF9C4;
$yellow-200: #FFF59D;
$yellow-300: #FFEB3B;
$yellow-400: #FDD835;
$yellow-500: #FBC02D;
$yellow-600: #F9A825;

$white:      #FFFFFF;
$black:      #000000;
$body-bg:    #ECEDF0;
$body-color: #212529;

$gray-transparent: rgba(73, 80, 87, 0.188);
