<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- Overlay para fechar o sidebar no mobile -->
<div 
  class="sidebar-overlay" 
  [class.active]="isOpen && isMobile" 
  (click)="closeSidebar()"
  tabindex="0"
>
</div>

<nav class="sidebar" [class.open]="isOpen" [class.mobile]="isMobile">
  <!-- Cabeçalho da sidebar -->
  <div class="sidebar-header">
    <!-- Botão de fechar (apenas mobile) -->
    <button mat-icon-button class="close-sidebar-btn" (click)="closeSidebar()" *ngIf="isMobile">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-nav-list class="sidebar-list">
    <a mat-list-item routerLink="/dashboard">
      <mat-icon class="material-symbols-outlined">home</mat-icon>
      <span>Início</span>
    </a>
    <a mat-list-item routerLink="/extract" (click)="closeSidebar()" class="nav-item">
      <mat-icon class="material-symbols-outlined"> receipt_long </mat-icon>
      <span>Extrato</span>
    </a>
    <a mat-list-item routerLink="/transferencias" (click)="closeSidebar()" class="nav-item">
      <mat-icon class="material-symbols-outlined"> wallet </mat-icon>
      <span>Transferências</span>
    </a>
    <a mat-list-item routerLink="/investimentos" (click)="closeSidebar()" class="nav-item">
      <mat-icon class="material-symbols-outlined">trending_up</mat-icon>
      <span>Investimentos</span>
    </a>
    <a mat-list-item routerLink="/servicos" (click)="closeSidebar()" class="nav-item">
      <mat-icon class="material-symbols-outlined"> grid_view </mat-icon>
      <span>Outros serviços</span>
    </a>

    <a mat-list-item class="logout-item" (click)="logout()" tabindex="0">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </a>
  </mat-nav-list>
</nav>